/*----------Map-----------*/
.navbar-collapse, .nav-link ul li:nth-child(1) {
  color: #444444;
  font-size: 17px;
}

.navbar-collapse, .nav-link ul li:nth-child(2) {
  color: #444444;
  font-size: 17px;
}

.navbar-collapse, .nav-link ul li:nth-child(3) {
  color: #444444;
  font-size: 17px;
}

.navbar-collapse, .nav-link ul li:nth-child(4) {
  color: #444444;
  font-size: 17px;
}

.navbar-collapse, .nav-link ul li:nth-child(5) {
  color: #444444;
  font-size: 17px;
}

.navbar-collapse, .nav-link ul li:nth-child(6) {
  color: #444444;
  font-size: 17px;
}

.title-16 {
  font-size: 16px;
}

.title-20 {
  font-size: 20px;
}

.title-24 {
  font-size: 24px;
}

.title-32 {
  font-size: 32px;
}

/*-------------------BODY---------------------*/
body {
  font-family: "Poppins", sans-serif;
}

/*---------------------LOGO/NAV--------------------*/
.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  padding-left: 2px;
}

.logo .logo__uno {
  padding-bottom: 6px;
  width: 47px;
  margin: -3 0px 0px 0px;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-weight: 600;
  color: #000;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-size: 15px;
}

.dropdown-item {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #292f41;
}

.nav-link:hover {
  color: rgba(78, 102, 248, 0.623);
}

.navbar-scroll {
  background-color: #fff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

/*----------------------IMG FONDO/BTN/INDEX.HTML-----------------------------*/
.content-banner {
  color: #fff;
  background-image: url(../img/fondo.png);
  min-height: 600px;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 1px;
}

.content-banner:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 102, 248, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

/*------------------------BTN/INDEX.HTML-----------------------------*/
.encabezado {
  color: #fff;
}

.encabezado .encabezado__titulo {
  color: #e279aa;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.encabezado .encabezado__tituloUno {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 0;
  margin: 0px 0px 12px;
}

.encabezado .banner__btn {
  padding: 0 50px;
  z-index: 1;
  line-height: 50px;
  position: relative;
  margin-top: 8px;
  border-radius: 6px;
  height: 50px;
  font-size: 16px;
  background-color: #4e66f8;
  display: inline-block;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
}

.encabezado .banner__btn:hover {
  text-decoration: none;
  color: #4e66f8;
  background-color: #fff;
}

/*------------------SECTION DOS/INDEX.HMTL----------------*/
.encabezado {
  color: #fff;
}

.encabezado .encabezado__titulo {
  color: #e279aa;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.encabezado .encabezado__tituloUno {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 0;
  margin: 0px 0px 12px;
}

.bloque {
  font-style: normal;
  border-top: 1px solid #292f41;
  border-bottom: 1px solid #292f41;
  padding-bottom: 13px;
}

.bloque .bloque__parrafo {
  font-weight: 600;
  color: #444444;
  font-size: 22px;
  margin-top: 15px;
}

.bloque .bloque__subtitulo {
  color: #e279aa;
  font-size: 15px;
  letter-spacing: 0.5px;
}

/*-------------SECTION TRES/CARD/INDEX.HTML--------------*/
.card {
  height: 18rem;
}

.card .icono__card {
  color: #4e66f8;
  font-size: 40px;
}

.card .h4__card {
  font-weight: 600;
  font-size: 20px;
  color: #444444;
}

.card .p__card {
  color: #888888;
  font-size: 14px;
}

/*----------------------------SOBRE NOSOTROS-----------------------------*/
.fondo {
  background-color: #eeeeee;
}

.fondo:hover {
  -webkit-box-shadow: 0px 0px 20px 5px #cccccc;
          box-shadow: 0px 0px 20px 5px #cccccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.titulo__sobreNosotros {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #292f41;
  border-top: 1px solid #292f41;
  padding-top: 13px;
  padding-bottom: 13px;
}

.titulo__quieneSomos {
  font-size: 21px;
  font-weight: 600;
  color: #292f41;
  border-bottom: 1px solid #000;
}

.p__quienesSomos {
  font-size: 13px;
  color: #888888;
}

/*----------------------------SECTION VUELOS-----------------------------*/
.card__Vuelo {
  font-size: 12px;
  font-weight: 600;
}

.card__titleVuelo {
  padding-top: 2px;
  color: #000;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.card__textVuelo {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #888888;
}

.card__textUno {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0px;
  padding-top: 10px;
}

.card__textDos {
  font-size: 14px;
  letter-spacing: 0.05px;
  line-height: 20px;
}

.card__textTres {
  font-size: 24px;
  font-weight: 0;
}

.contenidoPrecio {
  border-top: 1px solid #888888;
}

/*----------------------------SECTION HOTELES/CARD/SECTION UNO-----------------------------*/
.titulo {
  margin-top: 20px;
}

.titulo .titulo__reserva {
  font-size: 21px;
  font-weight: 600;
  color: #444444;
  border-bottom: 1px solid #292f41;
}

.titulo .subTitulo__reserva {
  font-size: 16px;
}

.fondocontainer {
  background-color: #eeeeee;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 48px;
}

.padding-fondo {
  padding-left: 23px;
}

.card-alojamiento {
  max-width: 90%;
  width: 90%;
  height: 23.75rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #fff;
  margin-left: 17px;
}

.card-alojamiento .card__body {
  padding: 2rem 1rem;
}

.card-alojamiento .card__title {
  font-weight: 600;
  margin: 0px 0px 14px;
  color: #444444;
}

.card-alojamiento .card__text {
  font-size: 13px;
  color: #888888;
}

.card-alojamiento:hover {
  -webkit-box-shadow: 0px 0px 20px 5px #cccccc;
          box-shadow: 0px 0px 20px 5px #cccccc;
}

/*----------------------------SECTION HOTELES/SECTION TRES/RESERVAS-----------------------------*/
.card-hotel {
  height: 470px;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-bottom: 50px;
}

.card-hotel .card__img {
  max-width: 100%;
  width: 100%;
  height: 230px;
  border-radius: 10px 10px 0px 0px;
}

.card-hotel .titulo__Alojamiento {
  font-size: 14px;
  font-weight: 600;
}

.card-hotel .card__title {
  padding-top: 4px;
  color: #000;
  font-size: 19px;
  font-weight: 600;
}

.card-hotel .card__text {
  font-size: 14px;
  color: #888888;
  margin-bottom: 1.5rem;
}

.card-hotel .btn__hotel {
  background-color: #fff;
  color: #292f41;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  height: 34px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid #292f41;
  font-weight: 400;
}

.card-hotel .btn__hotel:hover {
  background-color: #292f41;
  color: #fff;
}

.card-hotel .flechas__btnHotel {
  font-size: 16px;
  margin-left: 30px;
}

.btn-hotel {
  border-top: 1px solid #888888;
}

.seleccion {
  -webkit-box-shadow: 0px 4px 8px #cccccc;
          box-shadow: 0px 4px 8px #cccccc;
  border-radius: 5px;
  height: auto;
}

.seleccion .seleccion__btn {
  background-color: #292f41;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  height: 35px;
  font-weight: 600;
}

.seleccion .seleccion__btn:hover {
  background-color: #5e6a8f;
}

.card-hotel:hover {
  -webkit-box-shadow: 0px 0px 20px 5px #cccccc;
          box-shadow: 0px 0px 20px 5px #cccccc;
}

/*----------------------------SECTION CONTACTO-----------------------------*/
.contacto {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacto .img__contacto {
  width: 35rem;
  height: 38rem;
  padding-left: 0px;
  padding-right: 0px;
}

.contacto .form__contacto {
  width: 33rem;
  padding-left: 0px;
}

.contacto .titulo__contacto {
  font-size: 32px;
  font-weight: 600;
  color: #444444;
  padding-left: 0px;
  border-bottom: 1px solid #292f41;
}

.contacto .botones__contacto {
  width: 32rem;
}

.contacto .texto__contacto {
  font-size: 14px;
  color: #888888;
  letter-spacing: 1px;
  line-height: 20px;
}

.contacto .boton__contacto {
  color: white;
  background-color: #292f41;
  width: 32rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.contacto .boton__contacto:hover {
  background-color: #414a66;
}

.mapa {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
}

/*------------------FOOTER---------------------*/
.footer {
  background-color: #292f41;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer__titulo {
  font-size: 27px;
}

.sobreNosotros {
  font-size: 14px;
}

.enlaces {
  color: #fff;
  font-size: 13px;
  padding-left: 35px;
}

.enlaces .enlace__inicio {
  color: #4e66f8;
}

.enlaces .enlace__inicio:hover {
  color: #adb7fc;
}

.enlaces .enlace__sobreNosotros:hover {
  color: #adb7fc;
}

.enlaces .enlace__sobreNosotros {
  color: #4e66f8;
}

.enlaces .enlace__productos:hover {
  color: #adb7fc;
}

.enlaces .enlace__productos {
  color: #4e66f8;
}

.enlaces .enlace__contacto {
  color: #4e66f8;
}

.enlaces .enlace__contacto:hover {
  color: #adb7fc;
}

.redes {
  font-size: 11px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.redes .redes__titulo {
  color: #fff;
}

.redes .redesUno {
  color: #32508f;
}

.redes .redesUno .redes__iconoUno:hover {
  color: #adb7fc;
}

.redes .redesDos {
  color: #1da1f2;
}

.redes .redesDos .redes__iconoDos:hover {
  color: #adb7fc;
}

.redes .redesTres {
  color: #b33929e8;
}

.redes .redesTres .redes__iconoTres:hover {
  color: #adb7fc;
}

.redes .redesCuatro {
  color: #216eb7;
}

.redes .redesCuatro .redes__iconoCuatro:hover {
  color: #adb7fc;
}

.form-control {
  width: 100px;
}

.suscribete {
  padding-right: 35px;
  padding-left: 0px;
  color: #fff;
}

.suscribete .titulo__suscribete {
  font-size: 25px;
}

.suscribete .text__email {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 15px;
  color: #888888;
  margin: 4px;
  border: none;
}

.suscribete .boton__email {
  background-color: #4e66f8;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
  height: 1.8rem;
}

.suscribete .boton__enviar {
  width: 4.5rem;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 14px;
  letter-spacing: 0.5px;
}

.suscribete .boton__enviar:hover {
  color: #4e66f8;
  background-color: #adb7fc;
  border: 1px solid #adb7fc;
}

.derechos {
  font-size: 13px;
}

.derechos .derechos__reservados {
  color: #4e66f8;
}

.derechos .derechos__reservados:hover {
  color: #adb7fc;
}

/*----------------------------MEDIA QUERY 320px.-----------------------------*/
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .header-inner {
    background-color: #fff !important;
  }
  .nav-item > .nav-link {
    color: #000 !important;
  }
  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .content-banner .first-title {
    font-size: 30px !important;
  }
  .my-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-toggler {
    padding-bottom: 6px;
  }
  /*----------------------------MEDIA QUERY/ENCABEZADO-----------------------------*/
  .logo {
    font-size: 16px;
  }
  .logo .logo__uno {
    width: 40px;
    padding-top: 5px;
    margin-bottom: 4px;
  }
  .encabezado .encabezado__tituloUno {
    font-size: 35px;
  }
  .encabezado .encabezado__titulo {
    font-size: 15px;
  }
  .encabezado .banner__btn {
    font-size: 13px;
    height: 40px;
    width: 9rem;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 40px;
  }
  .bloque .bloque__parrafo {
    font-size: 18px;
  }
  .bloque .bloque__subtitulo {
    font-size: 15px;
  }
  /*----------------------------MEDIA QUERY/INDEX.HTML-----------------------------*/
  .fondocontainer {
    background-color: #eeeeee;
  }
  .fondocontainer .ancho__cardMedia {
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-body {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
  }
  .card {
    height: 19rem !important;
  }
  .card .icono__card {
    font-size: 35px;
  }
  .card .h4__card {
    font-size: 19px;
    margin-top: 9px;
  }
  .card .p__card {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: -1rem;
  }
  /*----------------------------MEDIA QUERY/SOBRE NOSOTROS-----------------------------*/
  .titulo__sobreNosotros {
    font-size: 16px;
  }
  .titulo__quieneSomos {
    font-size: 19px;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .p__quienesSomos {
    color: #888888;
    margin-bottom: 0px;
  }
  .fondo {
    background-color: #fff;
  }
  /*----------------------------MEDIA QUERY/VUELOS-----------------------------*/
  .titulo .titulo__reserva {
    font-size: 18px;
  }
  .titulo .subTitulo__reserva {
    font-size: 14px;
  }
  .card-body {
    border-radius: 10px;
  }
  .card-VueloMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px;
  }
  .card__Vuelo {
    color: #000;
  }
  .card__titleVuelo {
    font-size: 19px;
    color: #000;
  }
  .card__textVuelo {
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: #000;
  }
  .card__textTres {
    font-size: 23px;
    color: #000;
  }
  .card__textUno {
    color: #000;
  }
  .fondo-vuelo {
    background-color: #eeeeee;
    padding-left: 0px;
    padding-right: 0px;
  }
  /*----------------------------MEDIA QUERY/HOTELES-----------------------------*/
  .padding-fondo {
    padding-top: 10px !important;
    padding-bottom: 25px !important;
  }
  .fondo-mediaHotel {
    background-color: #eeeeee;
    padding: 0px;
  }
  .card-HotelMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 13.7rem;
    border-radius: 0px 0px 10px 10px;
  }
  .bordes-hotel {
    padding: 0px;
    width: 100%;
  }
  .card-alojamiento {
    height: 23rem;
    margin-top: 20px;
    margin-left: 14px;
  }
  .card-alojamiento .card__text {
    font-size: 12px;
  }
  .card__textHotel {
    font-size: 12px;
    color: #888888;
  }
  .card-hotel {
    height: 28rem;
  }
  .card-hotel .card__text {
    font-size: 12px;
    color: #888888;
  }
  .card-hotel .card__title {
    font-size: 16px;
    color: #000;
    padding-top: 5px;
  }
  .titulo__Alojamiento {
    color: #000;
  }
  .card-hotel .titulo__Alojamiento {
    font-size: 13px;
  }
  .card-hotel .btn__hotel {
    height: 29px;
    font-weight: 600;
    padding: 3px;
  }
  .margin-Hotelmedia {
    margin-bottom: 0px !important;
    padding-left: 24px !important;
  }
  /*----------------------------MEDIA QUERY/CONTACTO-----------------------------*/
  .fondo-mediaContacto {
    background-color: #eeeeee;
    margin-top: 10px;
  }
  .contacto {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contacto .img__contacto {
    width: 20rem;
    height: 20rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }
  .contacto .form__contacto {
    width: 33rem;
    padding-left: 0px;
  }
  .contacto .titulo__contacto {
    font-size: 25px;
    font-weight: 600;
    color: #292f41;
    padding-left: 10px;
    border-bottom: 1px solid #292f41;
  }
  .contacto .botones__contacto {
    max-width: 100%;
    width: 22rem !important;
    margin-left: 6px;
    height: 2.5rem;
  }
  .contacto .texto__contacto {
    font-size: 13px;
    color: #888888;
    letter-spacing: 1px;
    line-height: 9px;
  }
  .contacto .boton__contacto {
    color: #fff;
    background-color: #292f41;
    width: 18rem !important;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 15px;
    height: 30px;
    line-height: 15px;
    border-radius: 10px;
    font-size: 14px;
  }
  .contacto .boton__contacto:hover {
    color: #fff;
    background-color: #414a66;
  }
  .mapa {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 34px;
    padding-bottom: 20px;
    margin-bottom: 4px;
    margin-top: 10px;
    background-color: #eeeeee;
  }
  /*----------------------------MEDIA QUERY/FOOTER-----------------------------*/
  .footer__titulo {
    font-size: 22px;
  }
  .sobreNosotros {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    font-size: 12px;
  }
  .enlaces {
    padding-left: 0px;
    padding-bottom: 15px;
    padding-right: 0px;
    font-size: 12px;
  }
  .redes {
    padding-bottom: 33px;
    padding-right: 0px;
    font-size: 9px;
  }
  .redes__titulo {
    margin-bottom: 0px;
  }
  .suscribete {
    padding-right: 0px;
  }
  .suscribete .titulo__suscribete {
    font-size: 20px;
  }
  .suscribete .boton__enviar {
    width: 4rem;
    padding-left: 11px;
  }
  .row {
    padding-left: 0px;
    padding-right: 0px;
  }
  .derechos-s {
    padding: 0px;
    margin-left: 11px;
  }
  .derechos {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
  }
  .derechos-Media {
    margin-top: 0px !important;
  }
}

/*----------------------------MEDIA QUERY 375px.-----------------------------*/
@media only screen and (min-width: 375px) and (max-width: 425px) {
  .header-inner {
    background-color: #fff !important;
  }
  .nav-item > .nav-link {
    color: #000 !important;
  }
  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .content-banner .first-title {
    font-size: 30px !important;
  }
  .my-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-toggler {
    padding-bottom: 6px;
  }
  /*----------------------------MEDIA QUERY/ENCABEZADO-----------------------------*/
  .logo {
    font-size: 16px;
  }
  .logo .logo__uno {
    width: 40px;
    padding-top: 5px;
    margin-bottom: 4px;
  }
  .encabezado .encabezado__tituloUno {
    font-size: 35px;
  }
  .encabezado .encabezado__titulo {
    font-size: 15px;
  }
  .encabezado .banner__btn {
    font-size: 13px;
    height: 40px;
    width: 9rem;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 40px;
  }
  .bloque .bloque__parrafo {
    font-size: 18px;
  }
  .bloque .bloque__subtitulo {
    font-size: 15px;
  }
  /*----------------------------MEDIA QUERY/INDEX.HTML-----------------------------*/
  .fondocontainer {
    background-color: #eeeeee;
  }
  .fondocontainer .ancho__cardMedia {
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-body {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
  }
  .card {
    height: 17rem !important;
  }
  .card .icono__card {
    font-size: 35px;
  }
  .card .h4__card {
    font-size: 19px;
    margin-top: 9px;
  }
  .card .p__card {
    font-size: 13px;
    margin-top: 15px;
  }
  /*----------------------------MEDIA QUERY/SOBRE NOSOTROS-----------------------------*/
  .titulo__sobreNosotros {
    font-size: 16px;
  }
  .titulo__quieneSomos {
    font-size: 19px;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .p__quienesSomos {
    color: #888888;
    margin-bottom: 0px;
  }
  .fondo {
    background-color: #fff;
  }
  /*----------------------------MEDIA QUERY/VUELOS-----------------------------*/
  .titulo .titulo__reserva {
    font-size: 18px;
  }
  .titulo .subTitulo__reserva {
    font-size: 14px;
  }
  .card-body {
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 28px;
  }
  .card-VueloMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px;
  }
  .card__Vuelo {
    color: #000;
  }
  .card__titleVuelo {
    font-size: 19px;
    color: #000;
  }
  .card__textVuelo {
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: #000;
  }
  .card__textTres {
    font-size: 23px;
    color: #000;
  }
  .card__textUno {
    color: #000;
  }
  .fondo-vuelo {
    background-color: #eeeeee;
    padding-left: 0px;
    padding-right: 0px;
  }
  /*----------------------------MEDIA QUERY/HOTELES-----------------------------*/
  .padding-fondo {
    padding-top: 10px !important;
    padding-bottom: 25px !important;
  }
  .fondo-mediaHotel {
    background-color: #eeeeee;
    padding: 0px;
  }
  .card-HotelMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 13.6rem;
    padding-bottom: 16px;
  }
  .bordes-hotel {
    padding: 0px;
    width: 100%;
  }
  .card-alojamiento {
    max-width: 100%;
    height: 20rem;
    margin-top: 20px;
    margin-left: 16px;
  }
  .card-alojamiento .card__text {
    font-size: 12px;
  }
  .card__textHotel {
    font-size: 12px;
    color: #888888;
  }
  .card-hotel {
    max-width: 100%;
    height: 28rem;
  }
  .card-hotel .card__text {
    font-size: 12px;
    color: #888888;
  }
  .card-hotel .card__title {
    font-size: 16px;
    color: #000;
    padding-top: 5px;
  }
  .titulo__Alojamiento {
    color: #000;
  }
  .card-hotel .titulo__Alojamiento {
    font-size: 13px;
  }
  .card-hotel .btn__hotel {
    height: 29px;
    font-weight: 600;
    padding: 3px;
    margin-top: 15px;
  }
  .margin-Hotelmedia {
    margin-bottom: 0px !important;
    padding-left: 27px !important;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*----------------------------MEDIA QUERY/CONTACTO-----------------------------*/
  .fondo-mediaContacto {
    background-color: #eeeeee;
    margin-top: 10px;
  }
  .contacto {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contacto .img__contacto {
    width: 23rem;
    height: 20rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }
  .contacto .form__contacto {
    width: 25rem;
    padding-left: 0px;
  }
  .contacto .titulo__contacto {
    font-size: 25px;
    font-weight: 600;
    color: #292f41;
    padding-left: 10px;
    border-bottom: 1px solid #292f41;
  }
  .contacto .botones__contacto {
    max-width: 100%;
    width: 22.5rem !important;
    margin-left: 8px;
    height: 2.5rem;
  }
  .contacto .texto__contacto {
    font-size: 13px;
    color: #888888;
    letter-spacing: 1px;
    line-height: 9px;
  }
  .contacto .boton__contacto {
    max-width: 100%;
    color: #fff;
    background-color: #292f41;
    width: 21rem !important;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-left: 18px;
    margin-bottom: 15px;
    height: 30px;
    line-height: 15px;
    border-radius: 10px;
    font-size: 14px;
  }
  .contacto .boton__contacto:hover {
    color: #fff;
    background-color: #414a66;
  }
  .mapa {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 34px;
    padding-bottom: 20px;
    margin-bottom: 4px;
    margin-top: 10px;
    background-color: #eeeeee;
  }
  /*----------------------------MEDIA QUERY/FOOTER-----------------------------*/
  .footer {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer__titulo {
    font-size: 22px;
  }
  .sobreNosotros {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    font-size: 12px;
  }
  .enlaces {
    padding-left: 0px;
    padding-bottom: 15px;
    padding-right: 0px;
    font-size: 12px;
  }
  .redes {
    padding-bottom: 33px;
    padding-right: 0px;
    font-size: 9px;
  }
  .redes__titulo {
    margin-bottom: 0px;
  }
  .suscribete {
    padding-right: 0px;
  }
  .suscribete .titulo__suscribete {
    font-size: 20px;
  }
  .suscribete .boton__enviar {
    width: 4rem;
    padding-left: 11px;
  }
  .row {
    padding-left: 0px;
    padding-right: 0px;
  }
  .derechos-s {
    padding: 0px;
    margin-left: 11px;
  }
  .derechos {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
  }
  .derechos-Media {
    margin-top: 0px !important;
  }
}

/*----------------------------MEDIA QUERY 768px.-----------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-inner {
    background-color: #fff !important;
  }
  .nav-item > .nav-link {
    color: #000 !important;
  }
  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .content-banner .first-title {
    font-size: 30px !important;
  }
  .my-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-toggler {
    padding-bottom: 6px;
  }
  /*----------------------------MEDIA QUERY/ENCABEZADO-----------------------------*/
  .logo {
    font-size: 18px;
  }
  .logo .logo__uno {
    width: 45px;
    margin-top: 1px;
  }
  .encabezado .encabezado__tituloUno {
    font-size: 31px;
  }
  .encabezado .encabezado__titulo {
    font-size: 15px;
  }
  .encabezado .banner__btn {
    font-size: 13px;
    height: 40px;
    width: 10rem;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 40px;
  }
  .bloque .bloque__parrafo {
    font-size: 18px;
  }
  .bloque .bloque__subtitulo {
    font-size: 15px;
  }
  /*----------------------------MEDIA QUERY/INDEX.HTML-----------------------------*/
  .fondocontainer {
    background-color: #eeeeee;
  }
  .fondocontainer .card__indexMedia {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .fondocontainer .ancho__cardMedia {
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .card {
    height: 17rem;
  }
  .card .icono__card {
    font-size: 28px;
  }
  .card .h4__card {
    font-size: 18px;
    margin-top: 5px;
  }
  .card .p__card {
    font-size: 12px;
    margin-top: 5px;
  }
  /*----------------------------MEDIA QUERY/SOBRE NOSOTROS-----------------------------*/
  .titulo__sobreNosotros {
    font-size: 16px;
  }
  .fondo {
    background-color: #eeeeee;
  }
  .fondo .img-fluid {
    padding: 0px;
    height: 13rem;
  }
  .fondo .card__sobreNMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 0px;
    background-color: #eeeeee;
  }
  .fondo .titulo__quieneSomos {
    font-size: 19px;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .fondo .p__quienesSomos {
    color: #888888;
    font-size: 12px;
    margin-bottom: 9px;
  }
  /*----------------------------MEDIA QUERY/VUELOS-----------------------------*/
  .titulo .titulo__reserva {
    font-size: 18px;
  }
  .titulo .subTitulo__reserva {
    font-size: 14px;
  }
  .card-VueloMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px 0px 10px 10px;
  }
  .card__Vuelo {
    color: #000;
  }
  .card__titleVuelo {
    font-size: 19px;
    color: #000;
  }
  .card__textVuelo {
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: #000;
  }
  .card__textTres {
    font-size: 23px;
    color: #000;
  }
  .card__textUno {
    color: #000;
    padding-top: 7px;
  }
  .fondo-vuelo {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
  }
  .margin-Hotelmedia {
    margin-bottom: 0px !important;
  }
  /*----------------------------MEDIA QUERY/HOTELES-----------------------------*/
  .fondo-mediaHotel {
    padding: 0px;
    background-color: #fff;
  }
  .padding-fondo {
    padding-top: 0px !important;
    padding-bottom: 1rem !important;
  }
  .card-HotelMedia {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .bordes-hotel {
    padding: 0px;
  }
  .bordes-hotelMedia {
    width: 50%;
  }
  .card-alojamiento {
    height: 17rem;
    margin-top: 20px;
  }
  .card-alojamiento .card__text {
    font-size: 12px;
    color: #888888;
  }
  .card__textHotel {
    font-size: 12px;
    color: #888888;
  }
  .card-hotel {
    height: 28rem;
  }
  .card-hotel .card__text {
    font-size: 12px;
    color: #888888;
  }
  .card-hotel .card__title {
    font-size: 17px;
    color: #000;
    padding-top: 7px;
  }
  .titulo__Alojamiento {
    color: #000;
  }
  .card-hotel .titulo__Alojamiento {
    font-size: 13px;
  }
  .card-hotel .btn__hotel {
    height: 1.8rem;
    font-weight: 600;
    padding: 3px;
    margin-top: 17px;
  }
  /*----------------------------MEDIA QUERY/CONTACTO-----------------------------*/
  .fondo-mediaContacto {
    margin-top: 10px;
  }
  .contacto {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contacto .img__contacto {
    height: 27rem;
    width: 80%;
    padding-top: 15px;
  }
  .contacto .form__contacto {
    max-width: 100%;
    width: 35rem;
    padding-right: 0px;
  }
  .contacto .titulo__contacto {
    font-size: 27px;
    font-weight: 600;
    color: #292f41;
    border-bottom: 1px solid #292f41;
    padding-top: 35px !important;
  }
  .contacto .botones__contacto {
    width: 34rem;
    height: 2.5rem;
    margin-left: 5px;
  }
  .contacto .texto__contacto {
    font-size: 13px;
    color: #888888;
    letter-spacing: 1px;
    line-height: 9px;
  }
  .contacto .boton__contacto {
    color: #fff;
    background-color: #292f41;
    letter-spacing: 0.5px;
    font-weight: 600;
    height: 1.9rem;
    line-height: 18px;
    border-radius: 10px;
    margin-left: 19.5px;
    width: 32rem;
  }
  .contacto .boton__contacto:hover {
    color: #fff;
    background-color: #414a66;
  }
  .mapa {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #fff;
  }
  /*----------------------------MEDIA QUERY/FOOTER-----------------------------*/
  .footer {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer__titulo {
    font-size: 22px;
  }
  .sobreNosotros {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    font-size: 12px;
  }
  .enlaces {
    padding-left: 0px;
    padding-bottom: 15px;
    padding-right: 0px;
    font-size: 12px;
  }
  .redes {
    padding-bottom: 33px;
    padding-right: 0px;
    margin-right: 5px;
    font-size: 9px;
  }
  .redes__titulo {
    margin-bottom: 0px;
  }
  .suscribete {
    padding-right: 0px;
  }
  .suscribete .titulo__suscribete {
    font-size: 20px;
  }
  .suscribete .text__email {
    font-size: 12px !important;
    margin: 1px !important;
  }
  .suscribete .boton__email {
    height: 26px;
  }
  .suscribete .boton__enviar {
    width: 3.2rem;
    padding-left: 5px;
    font-size: 13px;
    line-height: 0px;
  }
  .row {
    padding-left: 0px;
    padding-right: 0px;
  }
  .derechos-Media {
    margin-top: 0px !important;
  }
  .derechos-s {
    padding: 0px;
    margin-left: 11px;
  }
  .derechos {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
  }
}

/*----------------------------MEDIA QUERY-----------------------------*/
@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
  .card-alojamiento {
    height: 25rem;
  }
  .card-alojamiento .card__text {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */