@import "variables";
@import "bucles";

/*-------------------BODY---------------------*/

body {
  font-family: "Poppins", sans-serif;
}

/*---------------------LOGO/NAV--------------------*/

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  font-size: 19px;
  color: $negro;
  font-weight: 600;
  padding-left: 2px;

  .logo__uno {
    padding-bottom: 6px;
    width: 47px;
    margin: -3 0px 0px 0px;
    font-weight: 600;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-weight: 600;
  color: $negro;
  transition: 0.15s;
  font-size: 16px;
}

.nav-link:hover {
  color: rgba($colorUno, 0.623);
}

.navbar-scroll {
  background-color: $blanco;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

/*----------------------IMG FONDO/BTN/INDEX.HTML-----------------------------*/

.content-banner {
  color: $blanco;
  background-image: url(../img/fondo.png);
  min-height: 600px;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 1px;
}

.content-banner:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($colorUno, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

/*------------------------BTN/INDEX.HTML-----------------------------*/

.encabezado {
  color: $blanco;

  .encabezado__titulo {
    color: $rosa;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;
  }

  .encabezado__tituloUno {
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 0;
    margin: 0px 0px 12px;
  }

  .banner__btn {
    padding: 0 50px;
    z-index: 1;
    line-height: 50px;
    position: relative;
    margin-top: 8px;
    border-radius: 6px;
    height: 50px;
    font-size: 16px;
    background-color: $colorUno;
    display: inline-block;
    color: $blanco;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
  }

  .banner__btn:hover {
    text-decoration: none;
    color: $colorUno;
    background-color: $blanco;
  }
}
/*------------------SECTION DOS/INDEX.HMTL----------------*/

.encabezado {
  color: $blanco;

  .encabezado__titulo {
    color: $rosa;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;
  }

  .encabezado__tituloUno {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 0;
    margin: 0px 0px 12px;
  }
}

.bloque {
  font-style: normal;

  .bloque__parrafo {
    font-weight: 600;
    color: $titulos;
    font-size: 22px;
  }

  .bloque__subtitulo {
    color: $rosa;
    font-size: 16px;
  }
}

/*-------------SECTION TRES/CARD/INDEX.HTML--------------*/

.card {
  height: 18.75rem;

  .icono__card {
    color: $colorUno;
  }

  .h4__card {
    font-weight: 600;
    font-size: 20px;
    color: $titulos;
  }

  .p__card {
    color: #888888;
    font-size: 14px;
  }
}

/*----------------------------SOBRE NOSOTROS-----------------------------*/

.titulo__sobreNosotros {
  font-weight: 600;
  font-size: 18px;
}

.img__sobreNosotros {
  background-color:yellowgreen;
  
}

.tituto__quieneSomos {
  font-size: 20px;
  font-weight: 600;
}

.p__quienesSomos {
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}

/*----------------------------SECTION VUELOS-----------------------------*/

.card__Vuelo {
  font-size: 12px;
  font-weight: 600;
}

.card__titleVuelo {
  padding-top: 2px;
  color: $negro;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.card__textVuelo {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #888888;
}

.card__textUno {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin:0px;
  padding-top: 10px;
}

.card__textDos {
  font-size: 14px;
  letter-spacing: 0.05px;
  line-height: 20px;
  
}

.card__textTres {
  font-size: 24px;
  font-weight: 0;
}

.contenidoPrecio {
  border-top: 1px solid #888888;
}


/*----------------------------SECTION HOTELES/CARD/SECTION UNO-----------------------------*/

.titulo {
  margin-top: 20px;

  .titulo__reserva {
    font-size: 22px;
    font-weight: 600;
    color: $titulos;
  }

  .subTitulo__reserva {
    font-size: 16px;
  }
}

.fondocontainer {
  background-color: rgb(238, 238, 238);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card-alojamiento {
  max-width: 90%;
  width: 90%;
  height: 23.75rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  transition: all 300ms ease;
  background-color: $blanco;
  margin-left: 17px;

  .card__body {
    padding: 2rem 1rem;
  }

  .card__title {
    font-weight: 600;
    margin: 0px 0px 14px;
    color: $titulos;
  }

  .card__text {
    font-size: 13px;
    color: #888888;
  }
}

.card-alojamiento:hover {
  box-shadow: 0px 0px 20px 5px #cccccc;
}
/*----------------------------SECTION HOTELES/SECTION TRES/RESERVAS-----------------------------*/

.card-hotel {
  height: 470px;
  border-radius: 10px;
  transition: all 300ms ease;

  .card__img {
    max-width: 100%;
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0px 0px;
  }

  .titulo__Alojamiento {
    font-size: 14px;
    font-weight: 600;
  }

  .card__title {
    padding-top: 4px;
    color: $negro;
    font-size: 19px;
    font-weight: 600;
  }

  .card__text {
    font-size: 14px;
    color: #888888;
    margin-bottom: 1.5rem;
  }

  .btn__hotel {
    background-color: $blanco;
    color: $fondo;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    height: 34px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid $fondo;
    font-weight: 400;
  }

  .btn__hotel:hover {
    background-color: $fondo;
    color: $blanco;
  }

  .flechas__btnHotel {
    font-size: 16px;
    margin-left: 30px;
}
  }


.btn-hotel {
  border-top: 1px solid #888888;
}

.seleccion {
  box-shadow: 0px 4px 8px #cccccc;
  border-radius: 5px;
  height: auto;

  .seleccion__btn {
    background-color: $fondo;
    color: $blanco;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    height: 35px;
    font-weight: 600;
  }

  .seleccion__btn:hover {
    background-color: #5e6a8f;
  }
}

.card-hotel:hover {
  box-shadow: 0px 0px 20px 5px #cccccc;
}


/*----------------------------SECTION CONTACTO-----------------------------*/

.formulario {
  background-color: $blanco;
  color: $colorUno;
  border: 1px solid $colorUno;
  max-width: 60%;
  width: auto;

  .titulo__contacto {
    font-weight: 600;
    font-size: 40px;
  }

  .borde__formulario {
    border: 1px solid $colorUno;
  }

  .btn__contacto {
    background-color: $colorUno;
    color: $blanco;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
  }

  .btn__contacto:hover {
    color: $colorUno;
    background-color: $colorDos;
    border: 1px solid $colorDos;
  }
}


/*------------------FOOTER---------------------*/

.footer {
  background-color: $fondo;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.sobreNosotros {
  font-size: 15px;
}

.enlaces {
  color: $blanco;
  font-size: 15px;

  .enlace__inicio {
    color: $colorUno;
  }

  .enlace__inicio:hover {
    color: $colorDos;
  }

  .enlace__sobreNosotros:hover {
    color: $colorDos;
  }

  .enlace__sobreNosotros {
    color: $colorUno;
  }

  .enlace__productos:hover {
    color: $colorDos;
  }

  .enlace__productos {
    color: $colorUno;
  }

  .enlace__contacto {
    color: $colorUno;
  }

  .enlace__contacto:hover {
    color: $colorDos;
  }
}

.redes {
  font-size: 12px;
  padding-left: 0px;

  .redes__titulo {
    color: $blanco;
  }

  .redesUno {
    color: #32508F;

    .redes__iconoUno:hover {
      color: $colorDos;
    }
  }

  .redesDos {
    color: #1DA1F2;

    .redes__iconoDos:hover {
      color: $colorDos;
    }
  }

  .redesTres {
    color: #e03056a4;


    .redes__iconoTres:hover {
      color: $colorDos;
    }
  }

  .redesCuatro {
    color: #216EB7;

    .redes__iconoCuatro:hover {
      color: $colorDos;
    }
  }
}

.form-control {
  width: 100px;
}

.suscribete {
  padding-right: 33px;
  padding-left: 0px;

  .text__email {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #888888;
  }

  .boton__email {
    background-color: $colorUno;
    color: $blanco;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
  }

  .boton__enviar {
    width: 5rem;
    font-size: 15px;
  }

  .boton__enviar:hover {
    color: $colorUno;
    background-color: $colorDos;
    border: 1px solid $colorDos;
  }
}

.derechos {
  font-size: 15px;

  .derechos__reservados {
    color: $colorUno;
  }

  .derechos__reservados:hover {
    color: $colorDos;
  }
}

/*----------------------------MEDIA QUERY-----------------------------*/

@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .header-inner {
    background-color: $blanco !important;
  }
  .nav-item > .nav-link {
    color: $negro !important;
  }
  .logo {
    color: $negro !important;
    font-weight: 600 !important;
  }
  .content-banner .first-title {
    font-size: 30px !important;
  }
}
